In [2]:
import requests
from lxml import html
import pandas as pd
import json
import time
from tqdm import tqdm_notebook as tqdm

In [3]:
df = pd.read_excel('/Users/mayankmahawar/Documents/GitHub/WebScrap/Book1.xlsx', sheet_name = 'Sheet1')

In [4]:
df.head()

,Insurance Sectors,Company Name,Matched Name,Company Number,Company Number Formatted,Company Number.1,Match % Standard,Match %,Match Score,"GWP, Revenue",...,Expense ratio,# of Employees,RegAddress.CareOf,RegAddress.POBox,RegAddress.AddressLine1,RegAddress.AddressLine2,RegAddress.PostTown,RegAddress.County,RegAddress.Country,RegAddress.PostCode
0,Commercial and Personal,Ageas,AGEAS (UK) LIMITED,354568,1093301,01093301,0.319395,0.372547,0.372547,€14.01 billion (end 2013)[1],...,NaN,"13,071 (end 2013)[1]",NaN,NaN,AGEAS HOUSE HAMPSHIRE CORPORATE PARK,TEMPLARS WAY,EASTLEIGH,HAMPSHIRE,NaN,SO53 3YA
1,Commercial and Personal,Assurant General Insurance Limited,ASSURANT GENERAL INSURANCE LIMITED,02341082,2341082,02341082,0.548802,1.060667,1.060667,$11.650 billion (2018)[2],...,NaN,12452 (2018)[6],NaN,NaN,EMERALD BUILDINGS,WESTMERE DRIVE,CREWE,CHESHIRE,UNITED KINGDOM,CW1 6UN
2,Commercial and Personal,AXA XL Catlin,XL CATLIN SERVICES SE,SE000103,SE000103,SE000103,0.266555,0.214050,0.214050,$10.546 billion (2016),...,NaN,"7,400",NaN,NaN,20 GRACECHURCH STREET,NaN,LONDON,NaN,NaN,EC3V 0BG
3,Commercial and Personal,CNA Hardy,CNA HARDY INTERNATIONAL SERVICES LIMITED,09849484,9849484,09849484,0.321837,0.379872,0.379872,NaN,...,NaN,NaN,NaN,NaN,20 FENCHURCH STREET,NaN,LONDON,NaN,ENGLAND,EC3M 3BY
4,Commercial and Personal,SOMPO HOLDINGS INC,INC HOLDINGS LIMITED,06560171,6560171,06560171,0.241599,0.139192,0.139192,"JP¥ 1,894,121 million (FY 2007)",...,NaN,"16,095 (2008)",NaN,NaN,NO 1 DUDLEY COURT NORTH,WATERFRONT EAST LEVEL STREET,BRIERLEY HILL,WEST MIDLANDS,NaN,DY5 1XP

In [5]:
def company_search(company):
    apiKey = "N673Z25KBNF3GK0ZIZP7hgOjvDc0LEP5g7xw1Pb5"
    url1 = "https://api.companieshouse.gov.uk/search/companies?q="
#     url2 = "&items_per_page=100&start_index="
    numbers = (0,100,200,300)
    
    data = []
#     for n in numbers:
    url_full = url1+company#+url2+str(n)
    r = requests.get(url_full, auth=(apiKey, '')).json()
    for i in range(0,r['total_results']):
        try:
            word = company
            name = r['items'][i]['title']
            company_no = r['items'][i]['company_number']
            company_type = r['items'][i]['company_type']
            link_self = r['items'][i]['links']['self']
            company_status = r['items'][i]['company_status']
            incorporation_date = r['items'][i]['date_of_creation']
            dissolution_date = r['items'][i]['description']
            address = r['items'][i]['address_snippet']
            if len(r['items'][i]['matches']['snippet']) == 0:
                previous_name = None
                ceased_on = None
                effective_from = None
            else:
                previous_name = requests.get("https://api.companieshouse.gov.uk/company/"+company_no, auth=(apiKey, '')).json()["previous_company_names"][0]['name']
                ceased_on = requests.get("https://api.companieshouse.gov.uk/company/"+company_no, auth=(apiKey, '')).json()["previous_company_names"][0]['ceased_on']
                effective_from = requests.get("https://api.companieshouse.gov.uk/company/"+company_no, auth=(apiKey, '')).json()["previous_company_names"][0]['effective_from']
        except (IndexError, KeyError):
            data.append(None)
        data.append((word, name,company_no,company_type,link_self,company_status,incorporation_date,dissolution_date,address, previous_name, ceased_on,effective_from))
    return data

In [131]:
data = company_search('AIG')

In [132]:
df = pd.DataFrame(data,columns=["search_query","name","company_no","company_type","link_self","status","incorporation_date",
                                         "dissolution_date","address","previous_name","ceased_on","effective_from"])

In [136]:
df.head()

,search_query,name,company_no,company_type,link_self,status,incorporation_date,dissolution_date,address,previous_name,ceased_on,effective_from
0,AIG,AIG LIMITED,03022299,ltd,/company/03022299,active,1995-02-15,03022299 - Incorporated on 15 February 1995,"8 Castle Square, Benson, Wallingford, Oxfords...",RINGROSE AIG LIMITED,1996-03-28,1995-02-15
1,AIG,AIG ACADEMY LTD,10962357,ltd,/company/10962357,dissolved,2017-09-14,10962357 - Dissolved on 19 February 2019,"68 Faircross Avenue, Barking, United Kingdom,...",None,None,None
2,AIG,AIG ACCOUNTING SOLUTIONS LIMITED,03893461,ltd,/company/03893461,active,1999-12-13,03893461 - Incorporated on 13 December 1999,"61 Lynn Road, Ely, Cambridgeshire, CB6 1DD",None,None,None
3,AIG,AIG + PARTNERS LTD,11824968,ltd,/company/11824968,active,2019-02-13,11824968 - Incorporated on 13 February 2019,"46 Syon Lane, Isleworth, Middlesex, England, T...",None,None,None
4,AIG,AIG ASSET MANAGEMENT (EUROPE) LIMITED,04665011,ltd,/company/04665011,active,2003-02-12,04665011 - Incorporated on 12 February 2003,"58 Fenchurch Street, London, EC3M 4AB",AIG GLOBAL INVESTMENT (EUROPE) LTD,2009-04-06,2003-02-13

In [12]:
def get_address(add):
    """
    Provides address string from dictionary of input
    """
    if add!=None:
        a = set(["address_line_1","address_line_2","care_of","country","locality","po_box","postal_code","premises","region"])
        b = set(add.keys())
        c = a-b
        d = dict.fromkeys(c, None)
        add.update(d)
        add

        lis = list((add['care_of'], add['address_line_1'], add['address_line_2'], add['premises'], add['locality'],
                    add['region'], add['po_box'], add['country'], add['postal_code']))
        lis = list(filter(None, lis))
        address = ', '.join(lis)
    else:
        address = None
    return address

In [13]:
def company_profile(companyID):
    apiKey = "N673Z25KBNF3GK0ZIZP7hgOjvDc0LEP5g7xw1Pb5"
    url1 = 'https://api.companieshouse.gov.uk/company/'
    url_full = url1+str(companyID).zfill(8)
    r = requests.get(url_full, auth=(apiKey, '')).json()
    try:
        # Non returned variables
        reg_address = r.get('registered_office_address')
        accounts = r.get('accounts')
        previous = r.get('previous_company_names')

        # Returned Variables
        ID = r.get('company_number')
        name = r.get('company_name')
        company_type = r.get('type')
        jurisdiction = r.get('jurisdiction')
        address = get_address(reg_address)
        incorporation_date = r.get('date_of_creation')
        if accounts != None:
            has_accounts_overdue = accounts.get('overdue')
        else:
            has_accounts_overdue = None
        has_insolvency_history = r.get('has_insolvency_history')
        liquidated = r.get('has_been_liquidated')
        can_file = r.get('can_file')
        
        # Support Variables
        try:
            previous_name = previous[0].get('name')
            ceased_on = previous[0].get('ceased_on')
            effective_from = previous[0].get('effective_from')
            
            previous_detail = previous_name+' ('+ effective_from +' to '+ ceased_on +')'
        except:
            previous_detail = None
            
    except (IndexError, KeyError):
        data.append(None)
    data = {
        'ID':ID,
        'name':name,
        'company_type':company_type,
        'jurisdiction':jurisdiction,
        'address':address,
        'incorporation_date':incorporation_date,
        'previous_detail':previous_detail,
        'has_accounts_overdue':has_accounts_overdue,
        'has_insolvency_history':has_insolvency_history,
        'liquidated':liquidated,
        'can_file':can_file
    }
    return data

In [14]:
# data = company_profile('00354568')
data_extracted = {
    'ID':[],
    'name':[],
    'company_type':[],
    'jurisdiction':[],
    'address':[],
    'incorporation_date':[],
    'previous_detail':[],
    'has_accounts_overdue':[],
    'has_insolvency_history':[],
    'liquidated':[],
    'can_file':[]
}

for company in tqdm(df['Company Number.1']):
    data = company_profile(str(company))
    for key in list(data.keys()):
        data_extracted[key].append(data[key])
    time.sleep(0.75)

HBox(children=(IntProgress(value=0, max=612), HTML(value='')))

In [32]:
pd.DataFrame(data_extracted)

,ID,name,company_type,jurisdiction,address,incorporation_date,previous_detail,has_accounts_overdue,has_insolvency_history,liquidated,can_file
0,01227004,ADVENT UNDERWRITING LIMITED,ltd,england-wales,"2nd Floor, 2 Minster Court, London, EC3R 7BB",1975-09-19,B.F. CAUDLE AGENCIES LIMITED (1975-09-19 to 20...,False,False,False,True
1,03413859,AEGIS MANAGING AGENCY LIMITED,ltd,england-wales,"33 Gracechurch Street, London, EC3V 0BT",1997-07-29,None,False,False,False,True
2,07249776,ALLIED WORLD MANAGING AGENCY LIMITED,ltd,england-wales,"19th Floor 20 Fenchurch Street, London, Englan...",2010-05-11,2232 SERVICES LIMITED (2010-05-11 to 2014-03-11),False,False,False,True
3,04434499,AMTRUST SYNDICATES LIMITED,ltd,england-wales,"Exchequer Court, 33 St Mary Axe, London, Engla...",2002-05-09,ANV SYNDICATES LIMITED (2013-12-06 to 2016-11-10),False,False,False,True
4,06646629,ANTARES MANAGING AGENCY LIMITED,ltd,england-wales,"21 Lime Street, London, England, EC3M 7HB",2008-07-15,MINMAR (910) LIMITED (2008-07-15 to 2008-09-04),False,False,False,True
5,09181578,APOLLO SYNDICATE MANAGEMENT LIMITED,ltd,england-wales,"One Bishopsgate, London, EC2N 3AQ",2014-08-19,None,False,False,False,True
6,06645822,ARCH UNDERWRITING AT LLOYD'S LTD,ltd,england-wales,"5th Floor, Plantation Place South, 60 Great To...",2008-07-14,ARCH UNDERWRITING AT LLOYD'S LIMITED (2008-08-...,False,False,False,True
7,03632880,ARGENTA SYNDICATE MANAGEMENT LIMITED,ltd,england-wales,"5th Floor 70 Gracechurch Street, London, Engla...",1998-09-11,SACKVILLE SYNDICATE MANAGEMENT LIMITED (1999-0...,False,False,False,True
8,03768610,ARGO MANAGING AGENCY LIMITED,ltd,england-wales,"1 Fen Court, London, United Kingdom, EC3M 5BN",1999-05-12,HERITAGE MANAGING AGENCY LIMITED (1999-07-02 t...,False,False,False,True
9,05887810,ARK SYNDICATE MANAGEMENT LIMITED,ltd,england-wales,"30 Fenchurch Avenue, London, EC3M 5AD",2006-07-26,DARNER NYMPH LIMITED (2006-07-26 to 2007-02-01),False,False,False,True
10,04098461,ASCOT UNDERWRITING LIMITED,ltd,england-wales,"20 Fenchurch Street, London, EC3M 3BY",2000-10-30,3209TH SINGLE MEMBER SHELF TRADING COMPANY LIM...,False,False,False,True
11,06459521,ASPEN MANAGING AGENCY LIMITED,ltd,england-wales,"30 Fenchurch Street, Plantation Place, London,...",2007-12-21,WHISTLER MANAGING AGENCY LIMITED (2007-12-21 t...,False,False,False,True
12,03985640,MANAGING AGENCY PARTNERS LIMITED,ltd,england-wales,"Fitzwilliam House, 10 St Mary Axe, London, EC3...",2000-05-04,BRANCHGROVE LIMITED (2000-05-04 to 2000-05-23),False,False,False,True
13,01958863,ATRIUM UNDERWRITERS LIMITED,ltd,england-wales,"Room 790 Lloyds, 1 Lime Street, London, EC3M 7DQ",1985-11-14,ATRIUM COCKELL UNDERWRITING LIMITED (1997-01-0...,False,False,False,True
14,08702952,AXIS MANAGING AGENCY LTD.,ltd,england-wales,"WILLKIE FARR & GALLAGHER (UK) LLP, Citypoint, ...",2013-09-24,AXIS UK CORPORATE SERVICES LIMITED (2013-09-24...,False,False,False,True
15,06948515,BARBICAN MANAGING AGENCY LIMITED,ltd,england-wales,"33 Gracechurch Street, London, EC3V 0BT",2009-06-30,None,False,False,False,True
16,00540219,UNDERWRITING MANAGEMENT AGENCY LIMITED,ltd,england-wales,"2 Knoll Rise, Orpington, Kent, BR6 0NX",1954-11-05,None,False,False,False,True
17,01893407,BEAZLEY FURLONGE LIMITED,ltd,england-wales,"Plantation Place South, 60 Great Tower Street,...",1985-03-07,BEAZLEY FURLONGE & HISCOX LIMITED (1985-05-20 ...,False,False,False,True
18,00824611,BRIT SYNDICATES LIMITED,ltd,england-wales,"The Leadenhall Building, 122 Leadenhall Street...",1964-10-26,WREN SYNDICATES MANAGEMENT LIMITED (1991-12-11...,False,False,False,True
19,01514453,CANOPIUS MANAGING AGENTS LIMITED,ltd,england-wales,"Gallery 9 One Lime Street, London, EC3M 7HA",1980-08-27,TRENWICK MANAGING AGENTS LIMITED (2002-07-10 t...,False,False,False,True
20,03935227,CAPITA MANAGING AGENCY LIMITED,ltd,england-wales,"30 Berners Street, London, England, W1T 3LR",2000-02-23,CMGL SYNDICATE MANAGEMENT LIMITED (2000-02-23 ...,False,False,False,True
21,00292093,CATHEDRAL UNDERWRITING LIMITED,ltd,england-wales,"20 Fenchurch Street, London, EC3M 3BY",1934-09-14,MMO UNDERWRITING AGENCY LIMITED (1998-01-28 t...,False,False,False,True
22,01815126,CATLIN UNDERWRITING AGENCIES LIMITED,ltd,england-wales,"20 Gracechurch Street, London, EC3V 0BG",1984-05-10,S.J.O. CATLIN UNDERWRITING AGENCIES LIMITED (1...,False,False,False,True
23,09147885,CHARLES TAYLOR MANAGING AGENCY LIMITED,ltd,england-wales,"The Minster Building, 21 Mincing Lane, London,...",2014-07-25,THE STANDARD TAYLOR COMPANY B LIMITED (2014-07...,False,False,False,True
24,00184915,CHAUCER SYNDICATES LIMITED,ltd,england-wales,"Plantation Place, 30 Fenchurch Street, London,...",1922-10-10,STEWART SYNDICATES LIMITED (1994-03-18 to 1996...,False,False,False,True
25,02287773,CHUBB UNDERWRITING AGENCIES LIMITED,ltd,england-wales,"100 Leadenhall Street, London, United Kingdom,...",1988-08-17,ACE UNDERWRITING AGENCIES LIMITED (1999-01-04 ...,False,False,False,True
26,04690709,COVERYS MANAGING AGENCY LIMITED,ltd,england-wales,"6th Floor One Creechurch Place, Creechurch Lan...",2003-03-07,R&Q MANAGING AGENCY LIMITED (2010-03-04 to 201...,False,False,False,True
27,06539650,ENDURANCE AT LLOYD'S LIMITED,ltd,england-wales,"2 Minster Court, Mincing Lane, London, England...",2008-03-19,MONTPELIER AT LLOYD'S LIMITED (2013-11-26 to 2...,False,False,False,True
28,00426475,ERS SYNDICATE MANAGEMENT LIMITED,ltd,england-wales,"21 Lombard Street, London, England, EC3V 9AH",1946-12-30,EQUITY SYNDICATE MANAGEMENT LIMITED (2006-01-0...,False,False,False,True
29,01682486,FARADAY UNDERWRITING LIMITED,ltd,england-wales,"Corn Exchange, 55 Mark Lane, London, EC3R 7NE",1982-11-29,D P MANN LIMITED (1997-09-12 to 2001-05-04),False,False,False,True
30,06684157,HAMILTON UNDERWRITING LIMITED,ltd,england-wales,"St Helen's, 1 Undershaft, London, EC3P 3DQ",2008-08-29,SPORTSCOVER UNDERWRITING LIMITED (2008-08-29 t...,False,False,False,True
31,01264271,HARDY (UNDERWRITING AGENCIES) LIMITED,ltd,england-wales,"20 Fenchurch Street, London, EC3M 3BY",1976-06-21,GASHWHEEL LIMITED (1976-06-21 to 1977-12-31),False,False,False,True
32,04632146,HCC UNDERWRITING AGENCY LTD,ltd,england-wales,"1 Aldgate, London, EC3N 1RE",2003-01-09,ILLIUM MANAGING AGENCY LIMITED (2003-10-02 to ...,False,False,False,True
33,02590623,HISCOX SYNDICATES LIMITED,ltd,england-wales,"1 Great St Helens, London, EC3A 6HX",1991-03-12,MINMAR (154) LIMITED (1991-03-12 to 1991-06-28),False,False,False,True
34,03003606,LIBERTY MANAGING AGENCY LIMITED,ltd,england-wales,"20 Fenchurch Street, London, EC3M 3AW",1994-12-20,LIBERTY SYNDICATE MANAGEMENT LIMITED (1994-12-...,False,False,False,True
35,03985640,MANAGING AGENCY PARTNERS LIMITED,ltd,england-wales,"Fitzwilliam House, 10 St Mary Axe, London, EC3...",2000-05-04,BRANCHGROVE LIMITED (2000-05-04 to 2000-05-23),False,False,False,True
36,03114590,MARKEL SYNDICATE MANAGEMENT LIMITED,ltd,england-wales,"20 Fenchurch Street, London, EC3M 3AZ",1995-10-17,OCTAVIAN SYNDICATE MANAGEMENT LIMITED (1996-01...,False,False,False,True
37,02323018,MS AMLIN UNDERWRITING LIMITED,ltd,england-wales,"The Leadenhall Building, 122 Leadenhall Street...",1988-11-29,AMLIN UNDERWRITING LIMITED (1998-09-29 to 2016...,False,False,False,True
38,01328742,MUNICH RE SYNDICATE LIMITED,ltd,england-wales,"St Helens 1 Undershaft, London, EC3A 8EE",1977-09-05,MUNICH RE UNDERWRITING LIMITED (2000-10-09 to ...,False,False,False,True
39,01380715,NAVIGATORS UNDERWRITING AGENCY LIMITED,ltd,england-wales,"6 Bevis Marks, Floors 7-8, London, England, EC...",1978-07-27,MANDER THOMAS & COOPER (UNDERWRITING AGENCIES)...,False,False,False,True
40,03584320,NEON UNDERWRITING LIMITED,ltd,england-wales,"5th Floor 20 Gracechurch Street, London, EC3V 0BG",1998-06-15,MARKETFORM MANAGING AGENCY LIMITED (1998-06-15...,False,False,False,True
41,03223686,NEWLINE UNDERWRITING MANAGEMENT LIMITED,ltd,england-wales,"Corn Exchange, 55 Mark Lane, London, England, ...",1996-07-11,TIG SYNDICATE MANAGEMENT LIMITED. (1996-08-20 ...,False,False,False,True
42,05832065,PEMBROKE MANAGING AGENCY LIMITED,ltd,england-wales,"Level 3 8 Fenchurch Place, London, England, EC...",2006-05-30,None,False,False,False,True
43,01035198,QBE UNDERWRITING LIMITED,ltd,england-wales,"Plantation Place, 30 Fenchurch Street, London,...",1971-12-17,LIMIT UNDERWRITING LIMITED (1999-10-25 to 2007...,False,False,False,True
44,01120384,RENAISSANCERE SYNDICATE MANAGEMENT LIMITED,ltd,england-wales,"18th Floor, 125, Old Broad Street, London, EC2...",1973-06-28,SPECTRUM SYNDICATE MANAGEMENT LIMITED (2002-03...,False,False,False,True
45,07338775,APOLLO MANAGING AGENCY LTD,ltd,england-wales,"3 London Wall Buildings, London, EC2M 5PD",2010-08-06,None,False,False,False,True
46,03251910,S. A. MEACOCK & COMPANY LIMITED,ltd,england-wales,"Hasilwood House, 60 Bishopsgate, London, EC2N 4AW",1996-09-19,None,False,False,False,True
47,08536887,SIRIUS INTERNATIONAL MANAGING AGENCY LIMITED,ltd,england-wales,"The St Botolph Building 138, Houndsditch, Lond...",2013-05-20,None,False,False,False,True
48,06265337,STARR MANAGING AGENTS LIMITED,ltd,england-wales,"30 Fenchurch Avenue, London, EC3M 5AD",2007-06-01,None,False,False,False,True
49,08039754,STARSTONE UNDERWRITING LIMITED,ltd,england-wales,"7th Floor One Creechurch Place, London, EC3A 5AY",2012-04-20,TORUS UNDERWRITING MANAGEMENT LIMITED (2013-03...,False,False,False,True
50,02202362,TALBOT UNDERWRITING LTD,ltd,england-wales,"60 Threadneedle Street, London, EC2R 8HP",1987-12-03,ALLEGHANY UNDERWRITING LTD (2000-03-31 to 2001...,False,False,None,True
51,08614385,THE CHANNEL MANAGING AGENCY LIMITED,ltd,england-wales,"10 Lime Street, London, EC3M 7AA",2013-07-18,None,False,False,False,True
52,00729671,TOKIO MARINE KILN SYNDICATES LIMITED,ltd,england-wales,"20 Fenchurch Street, London, EC3M 3BY",1962-07-12,RJ KILN & CO. LIMITED (2003-10-23 to 2014-11-10),False,False,False,True
53,03207530,TRAVELERS SYNDICATE MANAGEMENT LIMITED,ltd,england-wales,"23-27 Alie Street, London, England, E1 8DS",1996-06-04,ST. PAUL TRAVELERS SYNDICATE MANAGEMENT LIMITE...,False,False,False,True
54,05957729,VIBE SYNDICATE MANAGEMENT LIMITED,ltd,england-wales,"90 Fenchurch Street, London, EC3M 4ST",2006-10-05,RITC SYNDICATE MANAGEMENT LIMITED (2006-10-05 ...,False,False,False,True
55,07712472,W. R. BERKLEY SYNDICATE MANAGEMENT LIMITED,ltd,england-wales,"14th Floor 52, Lime Street, London, United Kin...",2011-07-20,None,False,False,False,True

In [15]:
df1 = pd.DataFrame(data_extracted)

In [16]:
df1.to_excel('Companieshouse_Data.xlsx',sheet_name = 'all_sector', index = False, engine='xlsxwriter')